services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,lambda,apigateway,iam,sts,logs,cloudwatch
      - DEBUG=0
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

